// Heading Color
$heading-color: #324793;

// Text Color
$text-color: #787878;

// Default Background
$bg-default: #dbb999;

// Gray Background
$bg-gray: #f5f7f9;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #324793;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #b7d4e2;
